

html {
  height: 100%;
  width: 100%;
}

body {
  width: 1100px;
  height: 100%;
  margin: auto;
  border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  background: #c8ced2;
}

header {
  height: 140px;
  width: 1100px;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #4286f4;
  color: #FFFFFF;
}

header h1 {
  padding: 1em;
  margin: 0;
}

#main {
  width: 1100px;
  height: 100%;
  min-height: 800px;
  margin: 0;
  padding: 0;
  background: #c8ced2;
}

footer {
  clear: both;
  height: 3em;
  margin: 0;
  padding: 1em;
  text-align: center;
  background: #4286f4;
  color: #FFFFFF;
}

/* Tables */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
}

table.list tr th {
  border: 1px solid #0055DD;
  background: #0055DD;
  color: white;
  text-align: left;
}


/* Navigation */

navigation {
  float: left;
  width: 200px;
  height: 150%;
  background: #7a6855;
}

navigation a {
  color: #FFFFFF;
  text-decoration: none;
}

navigation a:hover {
  color: #4286f4;
  text-decoration: underline;
}

a {
  color: #4286f4;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

ul.subjects {
  margin-top: 20px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

ul.subjects > li {
  margin-bottom: 1em;
}

ul.pages {
  margin-left: 15px;
  padding: 0;
  list-style: none;
  font-weight: normal;
}

.selected > a {
  color: #f07b27;
  font-style: normal;
}

navigation li {
  font-size: 16px;
  line-height: 1.5em;
}


/* Page Content */

#hero-image {
  float: left;
  margin-bottom: 40px;
  padding: 0;
  height: 200px;
  width: 900px;
}

#page {
  float: right;
  width: 900px;
  height: 150%;
  padding-left: 0;
  vertical-align: top;
  background: #ffffff;
}

#page h1 {
  font-size: 16px;
  color: #000000;
  line-height: normal;
}

#page h2 {
  font-size: 14px;
  color: #000000;
  line-height: normal;
}

#page p {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" font-size: 12px;
  color: #000000;
  padding: 0px;
  line-height: normal;
}

#page h3 {
  font-size: 14px;
  color: #4286f4;
}

#content {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#content p {
  font-size: 16px;
  line-height: normal;
}

#content li {
  padding: 5px;
  font-size: 16px;
}

#disclaimer {
  margin-left: 10px;
  font-size: 14px;
  line-height: normal;
  clear: both;
  padding: 1em;
}

/* Service blocks on homepage */

#service-blocks {
  margin-top: 50px;
}

#service-blocks .service {
  float: left;
  width: 400px;
  margin-right: 40px;
}

#service-blocks .service {
  float: left;
  width: 400px;
  margin-right: 40px;
}

/* Learn More links */

a.learnmore {
  color: #4286f4;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none
}

a.learnmore:hover {
  text-decoration: underline
}


/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}

/* Session Messages */

#message {
  color: #0055DD;
  background: white;
  border: 2px solid #0055DD;
  padding: 1em 15px;
  margin: 1em 30px;
  width: 890px;
}
